--create table
CREATE TABLE DocGia 
(
	ma_docgia smallint NOT NULL ,
	ho nvarchar(15) ,
	tenlot nvarchar(1) ,
	ten nvarchar(15)  NOT NULL, 
	NgaySinh smalldatetime,
) 
GO

CREATE TABLE NguoiLon 
(
	ma_docgia smallint NOT NULL ,
	sonha nvarchar (15) NOT NULL,
	duong nvarchar (63) NOT NULL ,
	quan nvarchar (2) NOT NULL ,
	dienthoai nvarchar(13) NULL ,
	han_sd smalldatetime NOT NULL 	
)
GO

CREATE TABLE TreEm
(
	ma_docgia smallint NOT NULL ,
	ma_docgia_nguoilon smallint NOT NULL	
)
GO

CREATE TABLE CuonSach 
(
	isbn int NOT NULL ,
	Ma_CuonSach smallint NOT NULL ,
	TinhTrang nvarchar (1) NOT NULL 
)
GO

CREATE TABLE DangKy 
(
	isbn int NOT NULL ,
	ma_docgia smallint NOT NULL ,
	ngay_dk smalldatetime ,
	ghichu nvarchar (255) 
) 
GO

CREATE TABLE DauSach 
(
	isbn int NOT NULL ,
	ma_tuasach int NOT NULL ,
	ngonngu nvarchar (15) ,
	bia nvarchar (15) ,
	trangthai nvarchar (1)  not null
)
GO

CREATE TABLE Muon 
(
	isbn int NOT NULL ,
	ma_cuonsach smallint NOT NULL ,
	ma_docgia smallint NOT NULL ,
	ngay_muon smalldatetime NOT NULL ,
	ngay_hethan smalldatetime NOT NULL 
)
GO

CREATE TABLE QuaTrinhMuon
(
	isbn int NOT NULL ,
	ma_cuonsach smallint NOT NULL ,
	ngay_muon smalldatetime NOT NULL ,
	ma_docgia smallint NOT NULL ,
	ngay_hethan smalldatetime NULL ,
	ngay_tra smalldatetime NULL ,
	tien_muon money NULL ,
	tien_datra money NULL ,
	tien_datcoc money NULL ,
	ghichu nvarchar (255) NULL 
)
GO

CREATE TABLE TuaSach 
(
	ma_tuasach int NOT NULL ,
	TuaSach nvarchar (63) NOT NULL ,
	tacgia nvarchar (31) NOT NULL ,
	tomtat ntext  NULL 
)
GO

--create primary key
-- with nocheck: add vao ma ko kiem tra du lieu hien co
ALTER TABLE DocGia WITH NOCHECK ADD 
	CONSTRAINT PK_docgia PRIMARY KEY  CLUSTERED 
	(
		ma_docgia
	) 
GO

ALTER TABLE NguoiLon WITH NOCHECK ADD 
	CONSTRAINT PK_nguoilon PRIMARY KEY  CLUSTERED 
	(
		ma_docgia
	)
GO

ALTER TABLE TreEm WITH NOCHECK ADD 
	CONSTRAINT PK_treem PRIMARY KEY  CLUSTERED 
	(
		ma_docgia
	) 
GO

ALTER TABLE CuonSach WITH NOCHECK ADD 
	CONSTRAINT PK_cuonsach PRIMARY KEY  CLUSTERED 
	(
		isbn,
		ma_cuonsach
	) 
GO

ALTER TABLE DangKy WITH NOCHECK ADD 
	CONSTRAINT PK_dangky PRIMARY KEY  CLUSTERED 
	(
		isbn,
		ma_docgia
	)
GO

ALTER TABLE DauSach WITH NOCHECK ADD 
	CONSTRAINT PK_dausach PRIMARY KEY  CLUSTERED 
	(
		isbn
	)
GO

ALTER TABLE Muon WITH NOCHECK ADD 
	CONSTRAINT PK_muon PRIMARY KEY  CLUSTERED 
	(
		isbn,
		ma_cuonsach,
		ma_docgia
	)
GO

ALTER TABLE QuaTrinhMuon WITH NOCHECK ADD 
	CONSTRAINT PK_QuaTrinhMuon PRIMARY KEY  CLUSTERED 
	(
		isbn,
		ma_cuonsach,
		ngay_muon
	) 
GO

ALTER TABLE TuaSach WITH NOCHECK ADD 
	CONSTRAINT PK_tuasach PRIMARY KEY  CLUSTERED 
	(
		ma_tuasach
	) 
GO

--create foreign key

ALTER TABLE CuonSach ADD 
	CONSTRAINT FK_cuonsach_dausach FOREIGN KEY 
	(
		isbn
	) REFERENCES DauSach (
		isbn
	)
GO

ALTER TABLE DangKy ADD 
	CONSTRAINT FK_dangky_dausach FOREIGN KEY 
	(
		isbn
	) REFERENCES DauSach (
		isbn
	),
	CONSTRAINT FK_dangky_docgia FOREIGN KEY 
	(
		ma_docgia
	) REFERENCES DocGia (
		ma_docgia
	)
GO

ALTER TABLE DauSach ADD 
	CONSTRAINT FK_dausach_tuasach FOREIGN KEY 
	(
		ma_tuasach
	) REFERENCES TuaSach (
		ma_tuasach
	)
GO

ALTER TABLE Muon ADD 
	CONSTRAINT FK_muon_cuonsach FOREIGN KEY 
	(
		isbn,
		ma_cuonsach
	) REFERENCES CuonSach (
		isbn,
		ma_cuonsach
	)
GO

ALTER TABLE NguoiLon ADD 
	CONSTRAINT FK_nguoilon_docgia FOREIGN KEY 
	(
		ma_docgia
	) REFERENCES DocGia (
		ma_docgia
	)
GO

ALTER TABLE QuaTrinhMuon ADD 
	CONSTRAINT FK_QuaTrinhMuon_cuonsach FOREIGN KEY 
	(
		isbn,
		ma_cuonsach
	) REFERENCES CuonSach (
		isbn,
		ma_cuonsach
	)
GO

ALTER TABLE TreEm ADD 
	CONSTRAINT FK_treem_docgia FOREIGN KEY 
	(
		ma_docgia
	) REFERENCES DocGia (
		ma_docgia
	),
	CONSTRAINT FK_treem_nguoilon FOREIGN KEY 
	(
		ma_docgia_nguoilon
	) REFERENCES NguoiLon (
		ma_docgia
	)
GO

--doc gia
insert into DocGia values ('1', 'Pham', 'V', 'Bao', null)
insert into DocGia values ('2', 'Vo', 'V', 'Dung', null)
insert into DocGia values ('3', 'Van', 'P', 'Phuc', null)

--NguoiLon
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) 
values ('1', '10', 'Bui Thi Xuan', '2', '6/20/2002')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('3', '20', 'Dinh Bo Linh', '4', '6/22/2002')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('5', '30', 'Duong Ba Trac', '6', '6/24/2002')

--TreEm
insert into TreEm values ('2', '1')
insert into TreEm values ('4', '3')
insert into TreEm values ('6', '5')

--TuaSach
insert into TuaSach values (1, 'Last of the Mohicans', 'James Fenimore Cooper', null)
insert into TuaSach values (2, 'The Night-Born', 'Jack London', null)
insert into TuaSach values (3, 'Lemon', 'Motojirou', null)

--DauSach
insert into DauSach values (1, 1, 'ANH', 'BIA CUNG', 'Y')
insert into DauSach values (3, 1, 'DUC', 'BIA CUNG', 'Y')
insert into DauSach values (4, 1, 'HAN', 'BIA CUNG', 'Y')

--CuonSach
insert into CuonSach values (1,1, 'N')
insert into CuonSach values (1,2, 'N')
insert into CuonSach values (1,3, 'Y')

--DangKy
insert into DangKy values (1,1, '6/19/2002', null)
insert into DangKy values (1,52, '6/19/2002', null)
insert into DangKy values (43,35, '6/19/2002', null)

--Muon
insert into Muon values (1, 3, 2, '6/6/2002', '6/20/2002')
insert into Muon values (1, 5, 1, '6/19/2002', '7/3/2002')
insert into Muon values (3, 1, 1, '6/6/2002', '6/20/2002')
--QTrinhMuon
insert into QuaTrinhMuon values (1, 3, '6/7/2001', 23, '6/21/2001', '6/10/2001', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '6/21/2001', 23, '7/5/2001', '6/24/2001', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '7/5/2001', 23, '7/19/2001', '7/8/2001', null, null, null, null)

--query
--store-procedure
--4.1 xem thong tin doc gia
alter proc sp_ThongTinDocGia @ma_docgia smallint
as
	if(exists (select * from nguoilon nl where nl.ma_docgia = @ma_docgia))
	begin
		select * from docgia dg, nguoilon nl
		where nl.ma_docgia = dg.ma_docgia
		and nl.ma_docgia = @ma_docgia
	end
	if(exists (select * from treem te where te.ma_docgia = @ma_docgia))
	begin
		select * from docgia dg, treem te
		where te.ma_docgia = dg.ma_docgia
		and te.ma_docgia = @ma_docgia
	end
go

exec sp_thongtindocgia 3

--4.2 thong tin dau sach
create proc sp_ThongTinDauSach @ISBN int
as
begin
	select ds.isbn, ts.ma_tuasach,ts.tuasach, count(*) as TongCong
	from dausach ds, tuasach ts, cuonsach cs
	where ds.isbn = @isbn and ds.isbn = cs.isbn and cs.tinhtrang = 'Y'
	and ts.ma_tuasach = ds.ma_tuasach
	group by ds.isbn, ts.ma_tuasach,ts.tuasach
end
go

exec sp_thongtindausach 9

--4.3 liet ke nhung doc gia nguoi lon dang muon sach
create proc sp_thongtinnguoilondangmuon 
as
begin
	select * from nguoilon nl, muon m
	where nl.ma_docgia = m.ma_docgia
	and exists(select * from docgia dg
		where dg.ma_docgia = nl.ma_docgia) 
end

alter proc sp_thongtinnguoilondangmuon 
as
begin
	select * from nguoilon nl, docgia dg
	where nl.ma_docgia = dg.ma_docgia
	and exists(select * from muon m
		where m.ma_docgia = nl.ma_docgia) 
end
go



go

exec sp_thongtinnguoilondangmuon

--4.4 liet ke nhung doc gia nguoi lon dang muon sach
alter proc sp_ThongTinNguoiLonQuaHan
as
begin
	select * from nguoilon nl, docgia dg
		where nl.ma_docgia = dg.ma_docgia
			and exists(select * from muon m
			where m.ma_docgia = nl.ma_docgia and datediff(day,m.ngay_muon,getdate())>14)  
end
go
exec sp_thongtinnguoilonquahan
--4.5 liet ke nhung doc gia dang muon sach co tre em cung dang muon sach
alter proc sp_DocGiaCoTreEmMuon
as
begin
	select * from nguoilon nl, muon m
	where nl.ma_docgia = m.ma_docgia
	and exists(select * from docgia dg
		where dg.ma_docgia = nl.ma_docgia)
	and exists(select * from treem te,muon m1
		where te.ma_docgia = m1.ma_docgia
		and te.ma_docgia_nguoilon = nl.ma_docgia)
		--and exists (select * from docgia dg1
			--where dg1.ma_docgia = te.ma_docgia)) 
end
exec sp_docgiacotreemmuon
--cach 2
alter proc sp_DocGiaCoTreEmMuon
as
begin
	select * from nguoilon nl, docgia dg
	where nl.ma_docgia = dg.ma_docgia
	and exists(select * from muon m
		  where   m.ma_docgia = nl.ma_docgia
			  and exists(select * from treem te,muon m1
			 	     where te.ma_docgia_nguoilon = nl.ma_docgia
						and te.ma_docgia=m1.ma_docgia))
			 
end
go


go

--4.6 cap nhat trang tahi cua dau sach
create proc sp_CapNhatTrangThaiDauSach
@isbn int
as 
begin
	declare @soluong int
	set @soluong = (select count(*) 
		from dausach ds,cuonsach cs,tuasach ts
		where ds.isbn = @isbn
		and ds.ma_tuasach = ts.ma_tuasach
		and ds.isbn = cs.isbn
		and cs.tinhtrang = N'Y')
	if(@soluong = 0)
		Update Dausach
		set trangthai = N'N'
		where isbn = @isbn
	else
		Update Dausach
		set trangthai = N'Y'
		where isbn = @isbn
end

-+---cach 2
alter proc sp_CapNhatTrangThaiDauSach
@isbn int
as 
begin
	declare @soluong int
	set @soluong = (select count(*) 
		from cuonsach cs
		where cs.isbn = @isbn
		and cs.tinhtrang = N'Y')
	if(@soluong = 0)
		Update Dausach
		set trangthai = N'N'
		where isbn = @isbn
	else
		Update Dausach
		set trangthai = N'Y'
		where isbn = @isbn
end




go
exec sp_Capnhattrangthaidausach 4

--4.7 them tua sach moi
alter proc sp_ThemTuaSach
@tuasach nvarchar(63),@tacgia nvarchar(31),@tomtat ntext
as
begin
	if(not exists (select * from tuasach ts1 
			where ts1.tuasach like @tuasach 
			and ts1.tacgia like @tacgia 
			and ts1.tomtat like @tomtat))
	begin		
		declare @i int
		set @i = 1
		while (exists (select * from TuaSach ts where ts.ma_tuasach = @i))
			set @i = @i + 1
		Insert into Tuasach
		values(@i,@tuasach,@tacgia,@tomtat)
	end
	else
		print 'Khong them duoc'
end
go
exec sp_themtuasach N'Le3',N'nhan2',N'hoi khung'
exec sp_themtuasach N'Le9',N'nhan10',N'hoi khung wa'
--4.8 them cuon sach moi
---------------------------------------------------------------------------------------
create proc sp_ThemCuonSach
@isbn int
as
begin
		declare @i int
		set @i = 1
		while (exists (select * from CuonSach cs where cs.ma_cuonsach = @i ))
			set @i = @i + 1
			if(Insert into cuonsach
		values(@isbn,@i,N'Y'))
		begin
			update Dausach
			set trangthai = N'Y'
			where isbn = @isbn
		end				
end
---------------------------------------------------------------------------------------------
-----cach 2
-----------------------------------------------------------------------------------------------
alter proc sp_ThemCuonSach
@isbn int
as
begin
		declare @i int
		declare @Co int
		set @co=0
		set @i = 1
		set @co=(select count (*) from cuonsach cs where cs.isbn=@isbn)
		while (exists (select * from CuonSach cs where cs.ma_cuonsach = @i ))
		begin
			set @i = @i + 1
			
		end
		if(@co=0)
			return
		else
		begin
			insert into cuonsach values(@isbn,@i,N'Y')
			exec sp_capnhattrangthaidausach @isbn
			
		end
end
exec sp_themcuonsach 1001

---------------------------------------------------------------------------------------------
go

--4.9 them doc gia nguoi lon
alter proc sp_ThemNguoiLon 
@sonha nvarchar(15),
@duong nvarchar(63),
@quan nvarchar(2),
@dienthoai nvarchar(13),
@ho nvarchar(15),
@tenlot nvarchar(1),
@ten nvarchar(15),
@ngaysinh smalldatetime,
@han_sd smalldatetime					
as
	declare @ma_docgia int 
		set @ma_docgia  = 1
		
	begin 
		while exists (select * from docgia where ma_docgia = @ma_docgia)
			set @ma_docgia = @ma_docgia + 1
		insert into DocGia values(@ma_docgia,@ho,@tenlot,@ten,@ngaysinh)
		if(datediff(year,@ngaysinh,getdate())>=18)
			insert into NguoiLon values(@ma_docgia,@sonha,@duong,@quan,@dienthoai,@han_sd)
		else
			print'Khong du tuoi'
	end
go

declare @thoigian smalldatetime
set @thoigian = '1980-05-08 12:35:29.998' 
exec sp_themnguoilon '33','nguyen lam','10','854757','nguyen','truc','lam','1980-05-08 12:35:29.998','1980-05-08 12:35:29.998'
--4.10 them doc gia tre em

create proc sp_Themtreem 
@sonha nvarchar(15),
@duong nvarchar(63),
@quan nvarchar(2),
@dienthoai nvarchar(13),
@ho nvarchar(15),
@tenlot nvarchar(1),
@ten nvarchar(15),
@ngaysinh smalldatetime,
@han_sd smalldatetime,
@madocgia_nguoilon	int
as
	declare @ma_docgia int 
		set @ma_docgia  = 2
		
	begin 
		while exists (select * from docgia where ma_docgia = @ma_docgia)
			set @ma_docgia = @ma_docgia + 2
		insert into DocGia values(@ma_docgia,@ho,@tenlot,@ten,@ngaysinh)
		/*kiem tra ma doc gia nguoi lon*/
		if(datediff(year,@ngaysinh,getdate())<18)
			insert into treem values(@ma_docgia,@madocgia_nguoilon)
		else
			print'gia wa'
	end
go


exec sp_themtreem '33','nguyen lam','10','854757','nguyen','truc','lam','1998-05-08 12:35:29.998','1980-05-08 12:35:29.998',99


---cau 11:xoa mot doc gia 
create sp_xoadocgia 
@ma_docgia int
as 
begin

if exists(select * from docgia where ma_docgia=@ma_docgia)
delete docgia where ma_docgia=@ma_docgia
else
print 'ko co ma xoa gi may ngu wa'



end

--cau 15 phan corsor
--5.1 Tinh trang cap nhat la yes
create trigger del_muon on cuonsach
for insert
as
begin

	if exists(select * from cuonsach where tinhtrang like 'no')
		print'vi pham'

end

go


update cuonsach set tinhtrang=N'nodjljl'

